{% extends 'base.html' %}
{% block content %}

<!-- Menu -->

<div class="menu menu_mm trans_300">
  <div class="menu_container menu_mm">
    <div class="page_menu_content">
      <div class="page_menu_search menu_mm">
        <form action="#">
          <input
            type="search"
            required="required"
            class="page_menu_search_input menu_mm"
            placeholder="Search for products..."
          />
        </form>
      </div>
      <ul class="page_menu_nav menu_mm">
        <li class="page_menu_item has-children menu_mm">
          <a href="{{ url_for('index') }}">Home<i class="fa fa-angle-down"></i></a>
          <ul class="page_menu_selection menu_mm">
            <li class="page_menu_item menu_mm">
              <a href="{{ url_for('categories') }}"
                >Categories<i class="fa fa-angle-down"></i
              ></a>
            </li>
            <li class="page_menu_item menu_mm">
              <a href="{{ url_for('product') }}">Product<i class="fa fa-angle-down"></i></a>
            </li>
            <li class="page_menu_item menu_mm">
              <a href="{{ url_for('cart') }}">Cart<i class="fa fa-angle-down"></i></a>
            </li>
            <li class="page_menu_item menu_mm">
              <a href="{{ url_for('checkout') }}"
                >Checkout<i class="fa fa-angle-down"></i
              ></a>
            </li>
            <li class="page_menu_item menu_mm">
              <a href="{{ url_for('contact') }}">Contact<i class="fa fa-angle-down"></i></a>
            </li>
          </ul>
        </li>
        <li class="page_menu_item has-children menu_mm">
          <a href="{{ url_for('categories') }}"
            >Categories<i class="fa fa-angle-down"></i
          ></a>
          <ul class="page_menu_selection menu_mm">
            <li class="page_menu_item menu_mm">
              <a href="{{ url_for('categories') }}"
                >Category<i class="fa fa-angle-down"></i
              ></a>
            </li>
            <li class="page_menu_item menu_mm">
              <a href="{{ url_for('categories') }}"
                >Category<i class="fa fa-angle-down"></i
              ></a>
            </li>
            <li class="page_menu_item menu_mm">
              <a href="{{ url_for('categories') }}"
                >Category<i class="fa fa-angle-down"></i
              ></a>
            </li>
            <li class="page_menu_item menu_mm">
              <a href="{{ url_for('categories') }}"
                >Category<i class="fa fa-angle-down"></i
              ></a>
            </li>
          </ul>
        </li>
        <li class="page_menu_item menu_mm">
          <a href="{{ url_for('index') }}">Accessories<i class="fa fa-angle-down"></i></a>
        </li>
        <li class="page_menu_item menu_mm">
          <a href="#">Offers<i class="fa fa-angle-down"></i></a>
        </li>
        <li class="page_menu_item menu_mm">
          <a href="{{ url_for('contact') }}">Contact<i class="fa fa-angle-down"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

  <div class="menu_social">
    <ul>
      <li>
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</div>

<!-- Home -->

<div class="home">
  <div class="home_container">
    <div
      class="home_background"
      style="background-image: url(static/images/categories.jpg)"
    ></div>
    <div class="home_content_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content">
              <div class="home_title">Smart Phones<span>.</span></div>
              <div class="home_text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nullam a ultricies metus. Sed nec molestie eros. Sed viverra
                  velit venenatis fermentum luctus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}